footer.footer
    .footer-container
        .footer-column
            h3.footer-heading Contacto
            p Para más información, contáctenos:
            ul.footer-list
                li.footer-item Email: paulocabrera@gmail.com
                li.footer-item Teléfono: 123-456-7890
        .footer-column
            h3.footer-heading Enlaces útiles
            ul.footer-list
                li.footer-item
                    a.footer-link(href="#") Términos de servicio
                li.footer-item
                    a.footer-link(href="#") Política de privacidad
                li.footer-item
                    a.footer-link(href="#") Preguntas frecuentes