html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Ecommerce PC
    link(rel="stylesheet", href="/styles/styles.css")
    link(rel="stylesheet", href="/styles/footerStyle.css")

  body

    include nav.pug
    product-info 
        h2.product-title= "PRUEBA LANDING"
        
    block content

    include footer.pug

    script.
      const globalConstants = {
            PORT: "#{port}",
            APPLICATION_NAME: "#{applicationName}",
      }
    script(src="/js/commons.js")
    