nav.navbar
    .navbar-brand
        h1 Ecommerce PC cart
    a(href='products')
        img.logo(src="/images/logo.png", alt="Logo de la tienda", href='products')
    button.cart-button(type="button", onclick="window.location='cart'")
        |Carrito
    .count-circle 0
