nav.navbar
    .navbar-brand
        h1 Ecommerce PC cart
    a(href='products')
        img.logo(src="/img/carrito.png", alt="Logo de la tienda", href='products')
    button.cart-button(type="button", id="openCart")
        |Carrito
    .count-circle 0
