.cart-wrapper {
    display: flex;
    background-color: #d36262;
    width: 90%;
    justify-content: space-between;
    margin: 35px 10% 15% 5%;
}
  
.product-cart-container,
.cart-summary-container {
    flex: 1;
    margin-right: 20px;
    height: 100%;
}

.product-cart-card {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width:100%;
    float: left;
    box-sizing: border-box;
    height: 30%;
    display: flex;
    background-color: #333;
}
  
.product-cart-card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
  
.product-cart-card-container-descr {
    width: 90%;
    padding-left: 15px;
}
  
.product-cart-card-container-image {
    height: 80%;
    width: 100px;
    border-radius: 5px;
    display: flex;
    margin-top: 2%;
}
  
.product-title {
    font-size: 1.2em;
    margin-bottom: 5px;
    overflow: hidden;
}
  
.product-price,
.product-category,
.product-rating {
    margin-bottom: 5px;
}
  
.product-cart-card-container-info {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
}

.cart-summary-container {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: auto;
    float: left;
    box-sizing: border-box;
    display: flex;
    background-color: #929191;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.product-cart-price {
    font-size: 25px;
    margin-bottom: 5px;
    color: #0ee719;
}

.product-cart-price span {
    font-weight: bold; 
    color: #ff5722; 
}
.product-cart-quantity {
     font-size: 20px; 
    margin-bottom: 5px; 
    color: #f7f7f7;}

.product-cart-title {
    font-size: 25px;
    margin-bottom: 10px;
    overflow: hidden;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase; 
    letter-spacing: 1px;     
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cart-summary-total,
.cart-summary-quantity {
    font-size: 35px; 
    margin-bottom: 10px;
}

.cart-summary-button {
    display: block;
    width: 100%;
    padding: 10px; 
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50; 
    color: white;
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.cart-summary-button-clean {
    display: block; 
    width: 100%; 
    padding: 10px; 
    margin-top: 10px; 
    border: none;
    border-radius: 5px;
    background-color: #f75764;
    color: white; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}
.cart-summary-button:hover {
    background-color: #45a049; 
}
