.body {
  background-color: cadetblue;
}
.product-card {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px; 
  width: calc(25% - 20px);
  float: left;
  box-sizing: border-box;
  height: 50%;
  overflow: hidden;
  display: inline-flex;
}

.product-container {
  margin: 45px auto auto 15%;
  max-width: 70%;
}

.product-card-container-image {
  width: 50%;
  height: 185px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: flex-end;
}

.product-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.product-price,
.product-description,
.product-category,
.product-rating {
  margin-bottom: 5px;
}
