body {
  background-color: aquamarine;
}

.product-card {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: calc(25% - 20px);
  float: left;
  box-sizing: border-box;
  height: 50%;
  overflow: hidden;
  display: flex; /* Cambiado a flex para alinear los elementos */
  background-color: #333;
}

.product-container {
  margin: 45px auto auto 15%;
  max-width: 70%;
  overflow: hidden;
  background-color: #d36262;
}

.product-card-container {
  width: 100%; /* Ajuste para ocupar todo el ancho del contenedor */
  display: flex; /* Alinear elementos en la fila */
  justify-content: space-between; /* Espacio entre los elementos */
}

.product-card-container-descr {
  width: 90%;
  padding-left: 5px;
}

.product-card-container-image {
  height: 80%;
  width: 100px;
  border-radius: 5px;
  display: flex;
  margin-top: 10%;
}

.product-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.product-price,
.product-category,
.product-rating,
.product-description {
  margin-bottom: 5px;
  /* Si deseas aplicar estilos adicionales a estos elementos, 
  puedes hacerlo aquí */
}

.product-card-container-info {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.short-description {
  cursor: pointer;
} 