body {
  background-color: aquamarine;
}

.product-card {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: calc(25% - 20px);
  float: left;
  box-sizing: border-box;
  height: 50%;
  display: flex;
  background-color: #333;
}

.product-container {
  margin: 35px 12% 15% 10%;
  overflow: hidden;
  background-color: #d36262;
}

.product-card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-card-container-descr {
  width: 90%;
  padding-left: 15px;
}

.product-card-container-image {
  height: 80%;
  width: 100px;
  border-radius: 5px;
  display: flex;
  margin-top: 10%;
}

.product-title {
  font-size: 1.2em;
  margin-bottom: 5px;
  overflow: hidden;
}

.product-price,
.product-category,
.product-rating,
.product-description {
  margin-bottom: 5px;
}

.product-card-container-info {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
}

.short-description {
  cursor: pointer;
}

.product-card-container-info-description {
  position: relative; /* Establece la posición relativa para que la descripción completa sea relativa a este contenedor */
}

.full-description {
  position: absolute;
  top: 100%;
  left: 0; 
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  display: none; 
}